/* Vista Mobile 320px - 480px */

#integrantesBackground{ /* Gradiente del background */
    background: rgb(242,242,242);
    background-image: radial-gradient(circle, map-get($colores,blanco) 80%, map-get($colores,verde) 100%); 
}

.integrantesFlex{
    @include flex-alignItems-center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.integrantesFoto{
    margin-top: 1em;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-left: 3em;
    text-align: center;

        img{
            @include sizes(12em,12em);  
        }
}

/* Media Querie 480px - 600px */
@media screen and (min-width:480px){

    #integrantesBackground{
        background-image: radial-gradient(circle, map-get($colores,blanco) 65%, map-get($colores,verde) 100%); 
    }
    
}

/* Media Querie 600px - 768px */
@media screen and (min-width:600px){

    #integrantesBackground{
        background-image: radial-gradient(circle, map-get($colores,blanco) 55%, map-get($colores,verde) 100%); 
    }
    
}

/* Media Querie 768px-992px */
@media screen and (min-width:768px){

    #integrantesBackground{
        background-image: radial-gradient(circle, map-get($colores,blanco) 20%, map-get($colores,verde) 100%); 
    }

    .integrantesFoto img{
        @include sizes(14em,14em);

            p{
                font-size: 1.2em;   
            }
    }
    
}

/* Media Querie 1200 px - */
@media screen and (min-width:1200px){

    .integrantesFoto{
        margin-bottom: 2em;

            img{
                @include sizes(18em,18em); 
            }
    }
    
}