/* Vista Mobile 320px - 480px */

#integrantesBackground{ /* Gradiente del background */
    background: rgb(242,242,242);
    background-image: radial-gradient(circle, $white 80%, $green 100%); 
}

.integrantesFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.integrantesFoto{
    margin-top: 1em;
    margin-right: 3em;
    margin-bottom: 1em;
    margin-left: 3em;
    text-align: center;

        img{
            width: 12em;
            height: 12em;  
        }
}

/* Media Querie 480px - 600px */
@media screen and (min-width:480px){

    #integrantesBackground{
        background-image: radial-gradient(circle, $white 65%, $green 100%); 
    }
    
}

/* Media Querie 600px - 768px */
@media screen and (min-width:600px){

    #integrantesBackground{
        background-image: radial-gradient(circle, $white 55%, $green 100%); 
    }
    
}

/* Media Querie 768px-992px */
@media screen and (min-width:768px){

    #integrantesBackground{
        background-image: radial-gradient(circle, $white 20%, $green 100%); 
    }

    .integrantesFoto img{
        width: 14em;
        height: 14em;

            p{
                font-size: 1.2em;   
            }
    }
    
}

/* Media Querie 1200 px - */
@media screen and (min-width:1200px){

    .integrantesFoto{
        margin-bottom: 2em;

            img{
                width: 18em;
                height: 18em; 
            }
    }
    
}